*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.section{
    height: 100vh;
}

.section h1{
    text-align: center;
    line-height: 70vh;
    font-size: 5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section1 button{
    display: block;
    margin: auto;
    height: 10vh;
    width: 40%;
    border: none;
    background-color: azure;
    color: rgb(29, 29, 29);
    font-size: 3rem;
    text-transform: uppercase;
}

.section h1 span{
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(50px);
    display: inline-block;
}

.section .fadeMove{
    transform: translateY(0);
    opacity: 1;
}

.section2 .images{
    display: flex;
}
.section2 .btn-images{
    display: flex;
}
.section2 .btn-images button{
    width: 50%;
    height: 50px;
    font-size: 2rem;
}
.section2 .images img{
    width: 50%;
    transition: all 1s ease;
    opacity: 0;
}
.section2 .images img.slideFromLeft{
    transform: translateX(-50%);
}
.section2 .images img.slideFromRight{
    transform: translateX(+50%);
}
.section2 .images img.animated{
    transform: translateX(0);
    opacity: 1;
}

.section2 h1{
    line-height: 1.3;
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 3rem;
    text-transform: capitalize;
}

.border-line{
    height: 2px;
    width: 0%;
    background-color: white;
    transition: all 0.5s ease;
}

.btn-container{
    width: 105px;
    margin: 0 auto 15px auto;
}

.section2 input{
    display: block;
    width: 140px;
    border: none;
    height: 30px;
    margin: 0 auto 15px auto;
    font-size: 2rem;
    padding: 0 0 0 5px;
}

.btn-border{
    height: 50px;
    width: 50px;
    border: none;
    display: inline-block;
    margin: auto;
    font-size: 2rem;
}

.progress-bar{
    width: 50%;
    height: 50px;
    border: 5px solid rgb(30, 79, 184);
    border-radius: 30px;
    background-color: azure;
    margin: 30% auto 0 auto;
}

.section3 button{
    display: block;
    margin: 20px auto 0 auto;
    height: 5vh;
    width: 20%;
    border: none;
    background-color: azure;
    color: rgb(29, 29, 29);
    font-size: 1.5rem;
    text-transform: uppercase;
}


.progress{
    background-color: rgb(30, 79, 184);
    height: 100%;
    border-radius: 30px;
    width: 0%;
    transition: all 3s ease;
}