html body {
	background-color: #111d29;
}

html body a {
	color: #b1d237 !important;
}

#SIvCob {
	color: #fff !important;
}

#SIvCob a {
	color: #b1d237 !important;
}

/** MAIN PAGE */

.gb_Ue{
	color: #fff !important;
}
.KxwPGc, .fbar{
	background-color: #0c141d !important;
	border: 0 !important;
}
.uU7dJb, .b2hzT, .smiUbb{
	color: #fff !important;
	background-color: #0f1822 !important;
	border: none !important;
}
.ayzqOc{
	color: #fff !important;
}
.QCzoEc{
	color: #111d29 !important;
}

/** SEARCH */

.WE0UJf{
	background-color: #111d29 !important;
}
#result-stats{
	color: #fff !important;
}
.sfbg, .s8GCU, .Lj9fsd{
	background-color: #0c141d !important;
}
.yg51vc, .jZWadf{
	background-color: #0f1822 !important;
}
.GLcBOb{
	border: none !important;
}
.logo, .my-custom-img{
	padding-left: 8% !important;
}
.logo a img, .my-custom-img{
	height: 70px !important;
	width: 60px !important;
}

.g{
	background-color: #111d29 !important;
}
#RYW0de{
	color: #fff !important;
}
.iUh30, .VwiC3b, .yXK7lf, .MUxGbd, .yDYNvb, .lyLwlc, .lEBKkf, 
.qrShPb, .garHBe, .q8U8x, .EaHP9c, .rhsl5, .rhsg3, .xBcVEe, .GNeCNe, 
.t2vtad, .GOE98c, .xlY4q, .VDgVie, .VIZLse, .NhRr3b span,
.s75CSd, .OhScic, .AB4Wff, .Q8LRLc, .dfB0uf, .wUrVib, .OSrXXb,
.fxgdke, .ZoQenf, .YnbWod, .gadasb, .dPO1Qe, .tRnLkd, .WYR1I, .xyGai,
.p1wuWb, .Uroaid, .dyjrff, .qzEoUe, .Zg1NU, .P7xzyf span, .card-section,
.mz75D, .vyDMJf-gXhOqb-Bz112c, .vyDMJf-gXhOqb-z5C9Gb-P5Aqpe-Bz112c,
.qlsyCb, .PNyWAd, .ZXJQ7c, .ynRric, .ClJ9Yb, .wM6W7d, .wM6W7d, .kno-rdesc,
.wwUB2c, .PZPZlf, .hgKElc, .xEGGnd, .yG4QQe, .pcJO7e span, .hMJ0yc,
.wHYlTd, .z8gr9e, .kX21rb, .ZYHQ7e, .W8wzH, .rwGmGe, .IKQu9e{
	color: #fff !important;
}
.RJn8N, .ellip, .tNxQIb, .ynAwRc, em, .GmE3X, b, .z1asCe, .KwU3F, 
.xSQxL, .HDOrGf, .r0zKGf, .iDjcJe, .IX9Lgd, .wwB5gf, .vFDYCb, .pcJO7e cite,
.gipoFf cite, .OSrXXb cite{
	color: #b1d237 !important;
}

/**.Hhmu2e, .NFQFxe, .viOShc, .LKPcQc */
.Hhmu2e, .SLI5wb, .zVq10e, .TkZZsf, .llNkz{
	background-color: #0c141d !important;
	border-radius: 0 !important;
}
.y8Jpof, .pPLc9e, .kpQuGf, .yQ0wwc, .Pvpvv, .DM4yme{
	background-color: #0f1822 !important;
	border: 0 !important;
}
.dG2XIf, .Wnoohf, .OJXvsb{
	border: 0 !important;
}


.ZkkK1e, .yUTMj, .k1U36b, .KPV9xf, .QFl0Ff, .CNf3nf, .OvQkSb, 
.LhCR5d, .k8XOCe, .R0xfCb, .VCOFK, .s8bAkb, .cEPPT{
	background-color: #0f1822 !important;
	border: 0 !important;
}
.NFQFxe, .viOShc, .LKPcQc{
	background-color: #111d29 !important;
}
.MXl0lf, .tKtwEb, .aajZCb, .I6TXqe, .cv2VAd{
	border: #b1d237 solid 1px !important;
	background-color: #0f1822 !important;
}
.RNNXgb, .o6juZc, .gNO89b, .RNmpXc{
	border: #b1d237 solid 3px !important;
}
.ZZ7G7b, .A6Smgb{
	border: #b1d237 solid 1px !important;
}
.pb5vrc{
	background-color: #b1d237 !important;
}
.f6F9Be, .TrMVnc{
	padding: 0 !important;
}
.HsZQAe, .RzdJxc{
	border-color: #b1d237 !important;
}
.f6F9Be{
	border: 0 !important;
}
.sbhl{
	background-color: #070c11 !important;
}
.xtSCL{
	display: none;
}
